.aside
  .aside__user
    
    .aside__user_name
      = current_user.name
      -# name
    .aside__user_icon
      .aside__user_icon_btn
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
        -# = link_to "#"do
        -#   = icon('fas','cog')
        =link_to"#"do
          = icon("fas","edit") 


  .aside__group
    .aside__group_room
      =link_to "#",class:"aside__group_room"do
        .aside__group_room_title
          test
        .aside__group_room_title_text
          今日はいい天気ですね！
