
  .main{
    height: 100%;
    width: calc(100vw - 300px);
    background-color: #cccccc;
    

    &__info{
      height: 100px;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0px 40px;
      
      &_title{
        line-height: 100px;
        font-size: 20px;
        margin-bottom: -70px;
        width: 200px;
      }
      &_text{
        font-size: 12px;
        margin-top: 5px;
        color: rgb(173, 173, 173);
      }

      &_btn{
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        &_edit{
          padding: 10px 20px;
          margin: 0px 0px 0px;
          border: 1px solid blue;
          color: blue;
         text-decoration: none;

        }
      }
    }
  &__chat{
    height: calc(100% - 190px);
    background-color: #e7e7e7;
    box-sizing: border-box;
    padding: 40px;
    overflow: scroll;

    .main__chat_message{
      position: relative;
    }
      .upper-message{
        width: 500px;
        display: flex;

        .upper-message__user-name{
          font-size: 16px;
          font-weight: bold;
        }
          .upper-message__date{
            font-size: 12px;
            color: rgb(211, 208, 208);
            margin: 5px;
          }
        }
          .lower-message{
            font-size: 14px;
            line-height: 30px;
            margin-bottom: 50px;
          }

    } 
  }

  .main__form{
    height: 90px;
    background-color: gray;
    width: calc(100vw - 300px);
    box-sizing: border-box;
    position: relative;
    
    
    &_message{
      position: absolute;

      &_text{
        background-color: rgb(255, 255, 255);
        margin: 20px 25px 10px 40px;
        height: 50px;
        width: 950px;
        .new_message{
          height: 100%;
        }

          .type{
            height: 100%;
            width: calc(100% - 30px);
            border: none;
          }

        &_image{
          position: absolute;
          left: 960px;
          top: 35px;
        }

        .none{
          display: none;
        }
      }
      

      .submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 25px;
        margin-top: -40px;
        padding: 0 30px;
        position: absolute;
        left: 30px;
        
      }
      
    }
}
