
  .aside{
  height: calc(100% -100px);
  width: 300px;
  margin-right: auto;
  background-color: rgb(37, 177, 177);

    &__user{
      height: 100px;
      background-color: rgb(36, 212, 212);
      display: flex;
      justify-content: space-between;
      line-height: 100px; 
      padding: 0px 20px 0px;
      
      &_name{
        font-size: 20px;
        font-weight: bold;
      }
      
      &_icon{
      }

      a{
        color: yellow;
      }

    }
    
    &__group{
      height: calc(100vh - 100px);
      width: 300px;
      
      &_room{
        padding: 0px 20px;
        box-sizing: border-box;
        color: white;
        text-decoration: none;
        
        &_title{
          font-size: 16px;
          // margin-top: 20px;
        }
        &_title_text{
          font-size: 11px;
          margin-top: 5px;
          margin-bottom: 40px;
        }
      }
    }
  }
